In [13]:
import pandas as pd
import numpy as np

In [14]:
df=pd.read_csv('Data1.csv')

In [15]:
 fd=df[df['OFFRNG_ID']==194]

In [16]:
df2 = fd.groupby(['DATE'],as_index=False).agg({'NO_OF_OPRTNTY_CREATD': 'sum','NO_OF_WINS': 'sum'})

In [17]:
df2=df2.sort_values(by='DATE')

In [42]:
 pd.DatetimeIndex(df.DATE).to_period("M")

PeriodIndex(['2017-06', '2017-06', '2017-06', '2017-06', '2017-06', '2017-06',
             '2017-06', '2017-06', '2017-06', '2017-06',
             ...
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10'],
            dtype='period[M]', name='DATE', length=200000, freq='M')

In [44]:
per = df2.DATE.dt.to_period("M")

AttributeError: 'DataFrame' object has no attribute 'DATE'

In [31]:
df2

            NO_OF_OPRTNTY_CREATD  NO_OF_WINS
DATE
2016-12-31                    29         107
2017-01-01                   208          41
2017-01-02                   558          74
2017-01-03                   689          87
2017-01-04                   927         108
2017-01-05                   818         125
2017-01-06                    15           4
2017-01-07                    69           7
2017-01-08                   218          19
2017-01-09                    64           3
2017-01-10                    79           5
2017-01-11                    45           5
2017-01-12                    33           3
2017-01-13                     0           1
2017-01-14                     1           2
2017-01-15                    30           0
2017-01-16                    14           0
2017-01-30                   531         464
2017-01-31                  1418         226
2017-02-01                  1252         171
2017-02-02                   666         160
2017-02-03                    19           3
2017-02-04                    79           6
2017-02-05                   567          79
2017-02-06                   757          87
2017-02-07                   816          59
2017-02-08                   362          44
2017-02-09                   158          33
2017-02-10                     5           0
2017-02-11                    11           1
...                          ...         ...
2019-01-14                    91          16
2019-01-15                    63          10
2019-01-16                    48          10
2019-01-17                    42          21
2019-01-19                     9           2
2019-01-20                    60           7
2019-01-21                    66          11
2019-01-22                    27           3
2019-01-23                    19           1
2019-01-24                     2           0
2019-01-27                    33           5
2019-01-28                    50           7
2019-01-29                   100          30
2019-01-30                    65         109
2019-01-31                    65          13
2019-02-01                     1           1
2019-02-02                     7           1
2019-02-03                   125          10
2019-02-04                   152          13
2019-02-05                   150          21
2019-02-06                   204          32
2019-02-07                   187          84
2019-02-08                    64           1
2019-02-09                    22           8
2019-02-10                   593         126
2019-02-11                   960         153
2019-02-12                  1033         183
2019-02-13                   831         192
2019-02-14                   802         396
2019-02-15                    24           3

[671 rows x 2 columns]

In [46]:
per = df2.DATE.dt.to_period("M")

AttributeError: 'DataFrame' object has no attribute 'DATE'

In [19]:
df2=df2.set_index('DATE')

In [20]:
df2

            NO_OF_OPRTNTY_CREATD  NO_OF_WINS
DATE
2016-12-31                    29         107
2017-01-01                   208          41
2017-01-02                   558          74
2017-01-03                   689          87
2017-01-04                   927         108
2017-01-05                   818         125
2017-01-06                    15           4
2017-01-07                    69           7
2017-01-08                   218          19
2017-01-09                    64           3
2017-01-10                    79           5
2017-01-11                    45           5
2017-01-12                    33           3
2017-01-13                     0           1
2017-01-14                     1           2
2017-01-15                    30           0
2017-01-16                    14           0
2017-01-30                   531         464
2017-01-31                  1418         226
2017-02-01                  1252         171
2017-02-02                   666         160
2017-02-03                    19           3
2017-02-04                    79           6
2017-02-05                   567          79
2017-02-06                   757          87
2017-02-07                   816          59
2017-02-08                   362          44
2017-02-09                   158          33
2017-02-10                     5           0
2017-02-11                    11           1
...                          ...         ...
2019-01-14                    91          16
2019-01-15                    63          10
2019-01-16                    48          10
2019-01-17                    42          21
2019-01-19                     9           2
2019-01-20                    60           7
2019-01-21                    66          11
2019-01-22                    27           3
2019-01-23                    19           1
2019-01-24                     2           0
2019-01-27                    33           5
2019-01-28                    50           7
2019-01-29                   100          30
2019-01-30                    65         109
2019-01-31                    65          13
2019-02-01                     1           1
2019-02-02                     7           1
2019-02-03                   125          10
2019-02-04                   152          13
2019-02-05                   150          21
2019-02-06                   204          32
2019-02-07                   187          84
2019-02-08                    64           1
2019-02-09                    22           8
2019-02-10                   593         126
2019-02-11                   960         153
2019-02-12                  1033         183
2019-02-13                   831         192
2019-02-14                   802         396
2019-02-15                    24           3

[671 rows x 2 columns]

In [51]:
df2 = df2.asfreq('D')

In [52]:
import itertools
p = d = q = range(0, 2)
pdq = list(itertools.product(p, d, q))
seasonal_pdq = [(x[0], x[1], x[2], 12) for x in list(itertools.product(p, d, q))]
print('Examples of parameter combinations for Seasonal ARIMA...')
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[1]))
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[2]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[3]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[4]))

Examples of parameter combinations for Seasonal ARIMA...
SARIMAX: (0, 0, 1) x (0, 0, 1, 12)
SARIMAX: (0, 0, 1) x (0, 1, 0, 12)
SARIMAX: (0, 1, 0) x (0, 1, 1, 12)
SARIMAX: (0, 1, 0) x (1, 0, 0, 12)

In [53]:
import statsmodels.api as sm
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(y,order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)
            results = mod.fit()
            print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))
        except:
            continue

ARIMA(0, 0, 0)x(0, 0, 0, 12)12 - AIC:2.0
ARIMA(0, 0, 0)x(0, 1, 0, 12)12 - AIC:2.0
ARIMA(0, 1, 0)x(0, 0, 0, 12)12 - AIC:2.0
ARIMA(0, 1, 0)x(0, 1, 0, 12)12 - AIC:2.0

/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/statespace/representation.py:375: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return matrix[[slice(None)]*(matrix.ndim-1) + [0]]

In [54]:
y = df2['NO_OF_WINS']

In [56]:
mod = sm.tsa.statespace.SARIMAX(y,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)
results = mod.fit()
print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))

ValueError: maxlag should be < nobs

In [57]:
mod = sm.tsa.statespace.SARIMAX(y,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)
results = mod.fit()
print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))

ValueError: maxlag should be < nobs

In [11]:
df2.loc[df2['NO_OF_OPRTNTY_CREATD'] == 243]

           DATE  NO_OF_OPRTNTY_CREATD  NO_OF_WINS
615  2018-12-19                   243         159

In [21]:
#creating the train and validation set
train = df2[:int(0.8*(len(df2)))]
valid = df2[int(0.8*(len(df2))):]

#fit the model
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(endog=train)
model_fit = model.fit()

# make prediction on validation
prediction = model_fit.forecast(model_fit.y, steps=len(valid))

/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:225: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [28]:
#make final predictions
model = VAR(endog=df2)
model_fit = model.fit()
yhat = model_fit.forecast(model_fit.y, steps=20)
print(yhat)

[[112.38105128  37.1885198 ]
 [160.33245884  50.9493843 ]
 [188.4410653   57.61012107]
 [205.53233078  61.27816377]
 [216.09149166  63.44425532]
 [222.65877771  64.76566093]
 [226.75458488  65.58317249]
 [229.31189662  66.09191728]
 [230.90935063  66.40928004]
 [231.90740665  66.60745192]
 [232.53101924  66.73124713]
 [232.92068162  66.80859304]
 [233.16416404  66.85692119]
 [233.31630602  66.88711897]
 [233.41137337  66.90598821]
 [233.47077716  66.91777882]
 [233.50789622  66.9251463 ]
 [233.53109045  66.92974994]
 [233.5455836   66.93262657]
 [233.5546398   66.93442406]]

/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:225: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)