In [93]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

In [94]:
df=pd.read_csv('Data1.csv')

In [95]:
fd=df[df['OFFRNG_ID']==190]

In [96]:
fd=fd.drop('DATE_KEY',axis=1)
fd=fd.drop('OFFRNG_ID',axis=1)
fd=fd.drop('GEO_ID',axis=1)

In [97]:
fd['DATE'] = pd.to_datetime(fd['DATE'], errors='coerce')

In [98]:
per = fd.DATE.dt.to_period("M")  # new way to get the same

data = fd.groupby(per)

data=data.sum()

In [99]:
data

         NO_OF_OPRTNTY_CREATD  NO_OF_WINS
DATE
2016-12                     0           9
2017-01                    14           7
2017-02                    27           2
2017-03                    12           1
2017-04                     2           1
2017-05                    44           1
2017-06                    25           6
2017-07                    20           9
2017-08                    27           6
2017-09                    17           2
2017-10                    25           3
2017-11                    30           3
2017-12                    35          19
2018-01                    23           5
2018-02                    16           0
2018-03                    25          10
2018-04                    18           2
2018-05                    38           3
2018-06                    32           4
2018-07                    23           5
2018-08                    26           0
2018-09                    22           3
2018-10                     7           1
2018-11                    14           2
2018-12                    31          42
2019-01                     7           4
2019-02                    10           4

In [100]:
# data = data.ix[1:]
# data = data.ix[:-2]

In [101]:
data=data.drop('NO_OF_WINS',axis=1)

In [102]:
actual=data.ix[-3:]

In [103]:
data.index

PeriodIndex(['2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05',
             '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11',
             '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05',
             '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11',
             '2018-12', '2019-01', '2019-02'],
            dtype='period[M]', name='DATE', freq='M')

In [104]:
actual

         NO_OF_OPRTNTY_CREATD
DATE
2018-12                    31
2019-01                     7
2019-02                    10

In [105]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [106]:
p = d = q = range(0, 2)
pdq = list(itertools.product(p, d, q))
seasonal_pdq = [(x[0], x[1], x[2], 12) for x in list(itertools.product(p, d, q))]
print('Examples of parameter combinations for Seasonal ARIMA...')
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[1]))
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[2]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[3]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[4]))

Examples of parameter combinations for Seasonal ARIMA...
SARIMAX: (0, 0, 1) x (0, 0, 1, 12)
SARIMAX: (0, 0, 1) x (0, 1, 0, 12)
SARIMAX: (0, 1, 0) x (0, 1, 1, 12)
SARIMAX: (0, 1, 0) x (1, 0, 0, 12)

In [107]:
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(data,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)
            results = mod.fit()
            print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))
        except:
            continue

ARIMA(0, 0, 0)x(0, 0, 0, 12)12 - AIC:241.16830338434673
ARIMA(0, 0, 0)x(0, 1, 0, 12)12 - AIC:108.37504948347255
ARIMA(0, 0, 0)x(1, 0, 0, 12)12 - AIC:123.90881192486707
ARIMA(0, 0, 0)x(1, 1, 0, 12)12 - AIC:26.064795611996455
ARIMA(0, 0, 1)x(0, 0, 0, 12)12 - AIC:216.97952096377188
ARIMA(0, 0, 1)x(0, 1, 0, 12)12 - AIC:99.74450852468449
ARIMA(0, 0, 1)x(1, 0, 0, 12)12 - AIC:119.3968847411342
ARIMA(0, 0, 1)x(1, 1, 0, 12)12 - AIC:27.5509382334035
ARIMA(0, 1, 0)x(0, 0, 0, 12)12 - AIC:205.00162650519385
ARIMA(0, 1, 0)x(0, 1, 0, 12)12 - AIC:107.90483148232575
ARIMA(0, 1, 0)x(1, 0, 0, 12)12 - AIC:110.9847605108624
ARIMA(0, 1, 0)x(1, 1, 0, 12)12 - AIC:19.18588068394368
ARIMA(0, 1, 1)x(0, 0, 0, 12)12 - AIC:185.86228205701352
ARIMA(0, 1, 1)x(0, 1, 0, 12)12 - AIC:93.00769630973248
ARIMA(0, 1, 1)x(1, 0, 0, 12)12 - AIC:109.67918305838701
ARIMA(0, 1, 1)x(1, 1, 0, 12)12 - AIC:18.68707150578201
ARIMA(1, 0, 0)x(0, 0, 0, 12)12 - AIC:212.8860096112084
ARIMA(1, 0, 0)x(0, 1, 0, 12)12 - AIC:109.32355144056366
ARIMA(1, 0, 0)x(1, 0, 0, 12)12 - AIC:107.29251627764356
ARIMA(1, 0, 0)x(1, 1, 0, 12)12 - AIC:20.579496864103984
ARIMA(1, 0, 1)x(0, 0, 0, 12)12 - AIC:195.40391087889938
ARIMA(1, 0, 1)x(0, 1, 0, 12)12 - AIC:100.66693315481554
ARIMA(1, 0, 1)x(1, 0, 0, 12)12 - AIC:106.88375967948754
ARIMA(1, 0, 1)x(1, 1, 0, 12)12 - AIC:21.65127567622869
ARIMA(1, 1, 0)x(0, 0, 0, 12)12 - AIC:203.30247460261776
ARIMA(1, 1, 0)x(0, 1, 0, 12)12 - AIC:109.06865928073982
ARIMA(1, 1, 0)x(1, 0, 0, 12)12 - AIC:102.8067489646659
ARIMA(1, 1, 0)x(1, 1, 0, 12)12 - AIC:-3.9828999414499258
ARIMA(1, 1, 1)x(0, 0, 0, 12)12 - AIC:187.8441364120464
ARIMA(1, 1, 1)x(0, 1, 0, 12)12 - AIC:94.36091058627265
ARIMA(1, 1, 1)x(1, 0, 0, 12)12 - AIC:101.41185658282892
ARIMA(1, 1, 1)x(1, 1, 0, 12)12 - AIC:1.7575875118022921

In [108]:
mod = sm.tsa.statespace.SARIMAX(data,
                                order=(0, 1, 1),
                                seasonal_order=(0, 1, 0, 12),
                                enforce_stationarity=False,
                                enforce_invertibility=False)
results = mod.fit()
print(results.summary().tables[1])

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ma.L1         -0.6081      0.279     -2.183      0.029      -1.154      -0.062
sigma2        97.0390     41.692      2.327      0.020      15.323     178.755
==============================================================================

In [109]:
pred = results.get_prediction(start=pd.to_datetime('2018-12'), dynamic=False)
pred_ci = pred.conf_int()

In [110]:
pred_ci

         lower NO_OF_OPRTNTY_CREATD  upper NO_OF_OPRTNTY_CREATD
DATE
2018-12                    6.402413                   45.017062
2019-01                   -3.524482                   35.090116
2019-02                  -13.966156                   24.648424

In [111]:
data

         NO_OF_OPRTNTY_CREATD
DATE
2016-12                     0
2017-01                    14
2017-02                    27
2017-03                    12
2017-04                     2
2017-05                    44
2017-06                    25
2017-07                    20
2017-08                    27
2017-09                    17
2017-10                    25
2017-11                    30
2017-12                    35
2018-01                    23
2018-02                    16
2018-03                    25
2018-04                    18
2018-05                    38
2018-06                    32
2018-07                    23
2018-08                    26
2018-09                    22
2018-10                     7
2018-11                    14
2018-12                    31
2019-01                     7
2019-02                    10

In [112]:
predicted=pred.predicted_mean

In [113]:
predicted=predicted.ix[-3:]

In [114]:
predicted

DATE
2018-12    25.709737
2019-01    15.782817
2019-02     5.341134
Freq: M, dtype: float64

In [115]:
actual

         NO_OF_OPRTNTY_CREATD
DATE
2018-12                    31
2019-01                     7
2019-02                    10

In [119]:
from sklearn.metrics import mean_squared_error
from math import sqrt
mse = mean_squared_error(actual, predicted)
print('MSE: %2f' % mse)
rmse= sqrt(mse)
print('RMSE: %2f' % rmse)

MSE: 42.276596
rmse: 6.502046

In [379]:
pred_uc = results.get_forecast(steps=3)
pred_uc.predicted_mean

2019-01    2959.134115
2019-02    3135.134115
2019-03    4284.134115
Freq: M, dtype: float64