In [2]:
#import required packages
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#read the data
df = pd.read_csv("sample_data_2final.csv",nrows=105)

In [17]:
df.head()
df.index

RangeIndex(start=0, stop=105, step=1)

In [18]:
range = pd.date_range('2017-01-01', '2018-12-31', freq='1W')
len(range)
df['Date']=range

In [19]:
df.index

RangeIndex(start=0, stop=105, step=1)

In [20]:
df.drop(['Week'], axis = 1, inplace = True, errors = 'ignore')

In [21]:
df.drop(['L_W_Expression'], axis = 1, inplace = True, errors = 'ignore')

In [22]:
df.drop(['Year'], axis = 1, inplace = True, errors = 'ignore')

In [23]:
df.head()

    Leads    Wins       Date
0  2399.0   747.0 2017-01-01
1  4474.0   700.0 2017-01-08
2  3117.0   691.0 2017-01-15
3  5150.0   889.0 2017-01-22
4  3720.0  1369.0 2017-01-29

In [24]:
df.index

RangeIndex(start=0, stop=105, step=1)

In [25]:
df=df.set_index('Date')

In [26]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22',
               '2017-01-29', '2017-02-05', '2017-02-12', '2017-02-19',
               '2017-02-26', '2017-03-05',
               ...
               '2018-10-28', '2018-11-04', '2018-11-11', '2018-11-18',
               '2018-11-25', '2018-12-02', '2018-12-09', '2018-12-16',
               '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', name='Date', length=105, freq=None)

In [27]:
df=df.asfreq(freq='1W')

In [28]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22',
               '2017-01-29', '2017-02-05', '2017-02-12', '2017-02-19',
               '2017-02-26', '2017-03-05',
               ...
               '2018-10-28', '2018-11-04', '2018-11-11', '2018-11-18',
               '2018-11-25', '2018-12-02', '2018-12-09', '2018-12-16',
               '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', name='Date', length=105, freq='W-SUN')

In [29]:
from pandas import Series
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
cols = df.columns
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(df)
normalized = scaler.transform(df)

In [31]:
normalized

array([[0.23531184, 0.03156888],
       [0.44370794, 0.01658163],
       [0.30742191, 0.01371173],
       [0.51159988, 0.07684949],
       [0.36798232, 0.22991071],
       [0.38736567, 0.02232143],
       [0.40142613, 0.05006378],
       [0.39118208, 0.07844388],
       [0.49161394, 0.32079082],
       [0.69016772, 0.08864796],
       [0.42934619, 0.09311224],
       [0.51521543, 0.13392857],
       [0.55237521, 0.93335459],
       [0.38385056, 0.0184949 ],
       [0.3263031 , 0.00637755],
       [0.34980416, 0.0369898 ],
       [0.53690871, 0.20822704],
       [0.39319072, 0.19100765],
       [0.4738375 , 0.03475765],
       [0.82032741, 0.0723852 ],
       [0.49613337, 0.11989796],
       [0.38545747, 0.35778061],
       [0.50467008, 0.07461735],
       [0.46128352, 0.09151786],
       [0.49864417, 0.17793367],
       [0.48819926, 0.92697704],
       [0.26052024, 0.        ],
       [0.34779552, 0.04528061],
       [0.47293361, 0.04910714],
       [0.54865923, 0.14221939],
       [0.39831274, 0.29496173],
       [0.50969167, 0.05739796],
       [0.60620669, 0.06026786],
       [0.38565833, 0.07844388],
       [0.35100934, 0.34056122],
       [0.37712162, 0.05580357],
       [0.54966355, 0.08131378],
       [0.49613337, 0.14413265],
       [0.47172843, 0.78954082],
       [0.3880687 , 0.12531888],
       [0.40002009, 0.04559949],
       [0.44069499, 0.06951531],
       [0.51581802, 0.11160714],
       [0.3716983 , 0.34725765],
       [0.46921764, 0.0966199 ],
       [0.42563021, 0.08514031],
       [0.32379231, 0.05803571],
       [0.44953299, 0.49139031],
       [0.52114091, 0.12691327],
       [1.        , 0.18718112],
       [0.37882896, 0.39445153],
       [0.16701818, 0.6932398 ],
       [0.        , 0.00765306],
       [0.23491011, 0.33354592],
       [0.34096615, 0.05389031],
       [0.31545646, 0.06026786],
       [0.34749423, 0.05484694],
       [0.42633323, 0.41390306],
       [0.47343577, 0.07589286],
       [0.35603093, 0.11575255],
       [0.69026815, 0.13424745],
       [0.5012554 , 0.45727041],
       [0.58913327, 0.10586735],
       [0.40333434, 0.14477041],
       [0.48197248, 0.20727041],
       [0.40845636, 0.93239796],
       [0.27789495, 0.31887755],
       [0.23159586, 0.04241071],
       [0.40725118, 0.13647959],
       [0.3786281 , 0.19355867],
       [0.29275886, 0.43399235],
       [0.39228683, 0.10012755],
       [0.35683439, 0.12563776],
       [0.30219946, 0.14477041],
       [0.3559305 , 0.52614796],
       [0.52104047, 0.10427296],
       [0.42713669, 0.11798469],
       [0.67550467, 0.18048469],
       [0.51903184, 1.        ],
       [0.23641659, 0.29559949],
       [0.35994778, 0.0838648 ],
       [0.37732249, 0.10044643],
       [0.37792508, 0.13934949],
       [0.34819725, 0.46524235],
       [0.47072411, 0.08450255],
       [0.33082254, 0.07461735],
       [0.28844029, 0.20184949],
       [0.37902983, 0.52614796],
       [0.32469619, 0.08195153],
       [0.45937531, 0.12436224],
       [0.45756754, 0.2286352 ],
       [0.35643266, 0.57844388],
       [0.26945867, 0.41932398],
       [0.29125239, 0.09757653],
       [0.3288139 , 0.12372449],
       [0.31174048, 0.10140306],
       [0.29687657, 0.45408163],
       [0.296977  , 0.06473214],
       [0.30983228, 0.1348852 ],
       [0.24143818, 0.0752551 ],
       [0.31384955, 0.49744898],
       [0.71246359, 0.15019133],
       [0.50366576, 0.19387755],
       [0.41659134, 0.43367347],
       [0.12533896, 0.42984694]])

In [33]:
train = df[:int(0.8*(len(normalized)))]
valid = df[int(0.8*(len(normalized))):]

#fit the model
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(endog=train)
model_fit = model.fit()

# make prediction on validation
prediction = model_fit.forecast(model_fit.y, steps=len(valid))

In [34]:
model = VAR(endog=df)
model_fit = model.fit()
yhat = model_fit.forecast(model_fit.y, steps=3)
print(yhat)

[[2969.30867033  987.79833336]
 [3947.94953383 1198.10113452]
 [4155.05947308 1290.7236412 ]]